/*div > a.screening {
	display: none !important;	
}
.GoogleActiveViewClass {
	display: none !important;	
}

html>body>div>div>div>iframe {
	display: none !important;	
}

div [class="r-block"]:first-child {
	display: none !important;	
}
div [class="grid-full"]{
	display: none !important;	
}
div [id="fixedBox"]{
	display: none !important;	
}

div.article.clearfix.preview {
	display: block !important;
}
ul[id="dyingLinksBox"]{
	display: none !important;
}
div[id="bmone2t-7069.1.1.29"]{
	display: none !important;
}
*/